.menu-bardown {
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center;
  background: rgb(227, 216, 216);
  padding: 12px 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-list {
  display: flex;
  gap: 25px; /* menus ke beech gap */
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  font-weight: 0;
  color: #333;
  padding: 6px 10px;
  transition: color 0.3s ease;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.menu-item:hover {
  color: orangered; /* hover color */
}

.arrow {
  margin-left: 3px;
  font-size: 15px;
  font-weight: bold;
}

/* Dropdown styling */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  min-width: 160px;
  padding: 8px 0;
  list-style: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 10;
}

.dropdown li {
  padding: 8px 14px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.dropdown li:hover {
  background: #f1f1f1;
}
